a{
  all:unset;
}

#contents{
  width: 100%;
  height: 100vh;
  margin-top:60px;
  position: relative;
}

.group_VOD{
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.group_VOD h3 {
  width:100%;
  display:block;
  margin: 0 0 5px 10px;
}

.VOD {
  display: flex;              
  flex-wrap: nowrap;          
  overflow-x: auto;           
  overflow-y: hidden;         
  scroll-behavior: smooth;     
  gap: 10px;                   
  
  scrollbar-width: none;       
}
.VOD::-webkit-scrollbar {
  display: none;               
}

.VOD_item {
  flex: 0 0 auto; 
  width:200px;
  height: auto;
  margin: 0 5px;
  position: relative;          
}

.VOD_item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

.VOD_item span {
  position: absolute;
  top: 90px;
  right: 10px;
  display: block;
  width: 50px;
  height: 20px;
  line-height: 20px; /* bằng height để căn giữa dọc */
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  text-align: center; /* căn giữa ngang */
}

.VOD_item h6{
  width: 100%;
  align-content: justify;
  margin: 0 2px;
}





.custom-loader {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  color: fff;
  background:
    radial-gradient(farthest-side,currentColor 90%,#0000) left  /10px 10px,
    radial-gradient(farthest-side,currentColor 90%,#0000) center/10px 10px,
    radial-gradient(farthest-side,currentColor 90%,#0000) right /10px 10px,
    linear-gradient(currentColor 0 0) center/100% 4px; 
  background-repeat: no-repeat;
  position: relative;
  animation: s6 2s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset:0;
  background:inherit;
  animation:inherit;
  --s:calc(50% - 5px);
  animation-direction: reverse;
}
.custom-loader:after {
  --s:calc(5px - 50%);
}

@keyframes s6 {
  0%   {transform: translate(var(--s,0)) rotate(0)}
  100% {transform: translate(var(--s,0)) rotate(1turn)}
}